<div class = 'main_div userindex'>
<div class='sign_up'>
<%= image_tag('logo.jpg', class: 'logo') %>
  <section>
    <%= link_to "LOG IN", new_user_session_path, class: 'login' %>
    <%= link_to "SIGN UP", new_user_registration_path, class: 'signup' %>
  </section>
</div>
</div>
